@model Web1.Models.Checkup

@{
    ViewBag.Title = "Delete Checkup";
}

<h2>Delete Checkup</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Checkup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckupID)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "ListCheckups")
        </div>
    }
</div>
