@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<script>
    var url = 'https://newsapi.org/v2/everything?' +
        'q=Medication&' +
        'sortBy=popularity&' +
        'apiKey=5af78b4fcd364c32b0e7854198c7b717';

    var req = new Request(url);

    fetch(req)
        .then(function (response) {
            console.log(response.json());
        })
</script>

<head>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.rawgit.com/olifolkerd/tabulator/master/tabulator.css">
    <script type="text/javascript" src="https://cdn.rawgit.com/olifolkerd/tabulator/master/tabulator.js"></script>
</head>
<body>
    <div id="example-table"></div>
</body>

<script>
    $("#example-table").tabulator({
        height: "300px",
        fitColumns: true,
        movableCols: true,
        movableRows: true,
        tooltips: true,
        columns: [
            {
                title: "author", field: "author", sorter: "string", editable: true
            },
            { title: "content", field: "content", sorter: "string", editable: true },
            { title: "Gender", field: "gender", width: 100, sorter: "string", editable: true },
            { title: "Rating", field: "rating", formatter: "star", align: "center", sorter: "number", width: 100, editable: true },
            { title: "Favourite Color", field: "col", width: 120, sorter: "string", sortable: false, editable: true },
            { title: "Date Of Birth", field: "dob", width: 130, sorter: "date", align: "center" },
            { title: "Driver", field: "car", width: 80, align: "center", formatter: "tickCross", sorter: "boolean", editable: true },
        ],
    });
</script>
<!--chnage to this  https://github.com/alfajango/jquery-dynatable -->