@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>ClinicCollege</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div class="row">
    <div class="col-md-4">
        <a class="twitter-timeline" data-width="500" data-height="500" href="https://twitter.com/ClinicCollege?ref_src=twsrc%5Etfw">Tweets by ClinicCollege</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <a href="https://twitter.com/intent/tweet?screen_name=ClinicCollege&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @@ClinicCollege</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <a href="https://twitter.com/ClinicCollege?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @@ClinicCollege</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-md-4">

    </div>
</div>
